.fc_stack {
	overflow: hidden;

	perspective: 1000px;
	-webkit-perspective: 1000px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fc_stack > div {
	width: 100%;
	height: 100%;
	display: relative;
	-moz-perspective: 1000px;
}

.fc_card {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 600px;
	height: 400px;
	cursor: pointer;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	
	transform: rotateY(3600000deg);
	transition: transform 0.4s ease-out;
}

.fc_card > canvas {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.fc_card > canvas:nth-child(2) {
	background-color: blue;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.fc_moveUp, .fc_moveDown {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.fc_moveUp {
	-webkit-animation: fc_gotoPrevCard 0.5s;
	animation: fc_gotoPrevCard 0.5s;
}
.fc_moveDown {
	-webkit-animation: fc_gotoNextCard 0.5s;
	animation: fc_gotoNextCard 0.5s;
}

@-webkit-keyframes fc_gotoPrevCard {
	50% { -webkit-transform: translate(0, -300%);}
	50.01% { -webkit-transform: translate(0, 300%);}
}
@keyframes fc_gotoPrevCard {
	50% { transform: translate(0, -300%);}
	50.01% { transform: translate(0, 300%);}
}

@-webkit-keyframes fc_gotoNextCard {
	50% { -webkit-transform: translate(0, 300%);}
	50.01% { -webkit-transform: translate(0, -300%);}
}
@keyframes fc_gotoNextCard {
	50% { transform: translate(0, 300%);}
	50.01% { transform: translate(0, -300%);}
}
