html, body {
	height: 100%;
}

body {
	overflow: hidden;
	background-color: #AAA;
	font-family: sans;
	min-width: 1.4in;
	margin: 0;

	border-collapse: collapse;
	text-align: center;
	perspective: 1000px;
	-webkit-perspective: 1000px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#flashCardContainer tr, #flashCardContainer td { padding: 0; }
a { background-color: black; }

#flashCard {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 600px;
	height: 400px;
	cursor: pointer;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

#flashCard, .side {
	min-width: 1.4in;
	min-height: 0.93in;
}

.side {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

#backFlashCard {
	width: 96%;
	padding: 2%;
	font-size: 18px;

	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

#backFlashCard h1 { font-size: 2em; }
#backFlashCard h2 { font-size: 1.5em;
	background-color: #000;
	color: #FFF;
	margin-top: 2%;
	padding-top: 0.3em;
	padding-bottom: 0.5em;
}

#signalIndication {
	text-indent: 2em;
	text-align: left;
}

.moveUp, .moveDown {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.moveUp {
	-webkit-animation: gotoPrevCard 0.5s;
	animation: gotoPrevCard 0.5s;
}
.moveDown {
	-webkit-animation: gotoNextCard 0.5s;
	animation: gotoNextCard 0.5s;
}

@-webkit-keyframes gotoPrevCard {
	50% { -webkit-transform: translate(0, -1000px);}
	50.01% { -webkit-transform: translate(0, 1000px);}
}
@keyframes gotoPrevCard {
	50% { transform: translate(0, -1000px);}
	50.01% { transform: translate(0, 1000px);}
}

@-webkit-keyframes gotoNextCard {
	50% { -webkit-transform: translate(0, 1000px);}
	50.01% { -webkit-transform: translate(0, -1000px);}
}
@keyframes gotoNextCard {
	50% { transform: translate(0, 1000px);}
	50.01% { transform: translate(0, -1000px);}
}

@media screen and (max-width: 510px), (max-height: 340px) {
	#backFlashCard { font-size: 16px; }
}
@media screen and (max-width: 480px), (max-height: 320px) {
	#backFlashCard { font-size: 15px; }
}
@media screen and (max-width: 450px), (max-height: 300px) {
	#backFlashCard { font-size: 14px; }
}
@media screen and (max-width: 420px), (max-height: 280px) {
	#backFlashCard { font-size: 12px; }
}
@media screen and (max-width: 345px), (max-height: 230px) {
	#backFlashCard { font-size: 11px; }
	#backFlashCard h1 { font-size: 1.6em; }
	#backFlashCard h2 { font-size: 1.2em; }
}
@media screen and (max-width: 300px), (max-height: 200px) {
	#backFlashCard { font-size: 8px; }
}
@media screen and (max-width: 240px), (max-height: 160px) {
	#backFlashCard { font-size: 7px; }
}
@media screen and (max-width: 210px), (max-height: 140px) {
	#backFlashCard { font-size: 6px; }
}
@media screen and (max-width: 180px), (max-height: 120px) {
	#backFlashCard { font-size: 5px;
		width: 100%;
		padding: 0;
	}
}
