html, body {
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
}

.fc_content {
	display: table;
	text-align: center;
	color: #111;
	cursor: move;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fc_content > span {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5em;
}

#randomCard {
	background-color: #080808;
	color: #fefefe;
}
